/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 
body {
    background-color: #F6F6F6;
}
#log_in {
    float: right;
    margin: 0;
    background-color: #2E3539;
    color: white;
}
.navbar {
   border-top: 3px solid #2E3539; 
   
    
}
.navbar-default .navbar-nav > li > a {
  color: white !important;  
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-default .navbar-nav > li > a:hover {
  text-decoration: underline;
  color: #FF9000;
}
.navbar-default .navbar-nav > .open > a {
    background-color: #2E3539 !important;
}

/* NAV TOP*/
.nav_top {
    height: 120px;
    background-color: #43A6DF;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    
    
}
.logo_block {
    float: left;
    
}
.logo_block a {
    position: absolute;
    bottom: 0;
    padding: 5px;
    padding-left: 20px;
    color: white;
    font-size: 38px;
    
}
.logo_block a:hover {
    text-decoration: none;
    
}
.nav_top_ul {
    list-style-type: none;
    float: right;
}
@media (max-width: 520px){
    .nav_top_ul {
        display:none;
    }
    .nav_top {
        height: 60px;
    }
    .logo_block a {
        padding: 2px;
        padding-left: 30%
    }
}
.nav_top_ul li {
    transition: background-color 0.3s ease;
    float: left;
    height: 120px;
    width: 132px;
    border-left: 12px solid #F6F6F6;
}

.nav_top_ul li:hover {
background-color: #FF9000;
}

.nav_top_ul li:nth-of-type(1) {
    background-image: url(http://xenforo.pixelgoose.com/styles/pixelgoose/metro/blue/xenforo/tab-icon-home.svg);
}

.nav_top_ul li:nth-of-type(2) {
    background-image: url(http://xenforo.pixelgoose.com/styles/pixelgoose/metro/blue/xenforo/tab-icon-forums.svg);
}

.nav_top_ul li:nth-of-type(3) {
    background-image: url(http://xenforo.pixelgoose.com/styles/pixelgoose/metro/blue/xenforo/tab-icon-members.svg);
}
.nav_top_ul li a {
    transition: color 0.3s ease;
    display: block;
    color: white;
    position: relative;
    width: 120px;
    height: 120px;
}
.nav_top_ul li a:hover {
    color: black;
}


.nav_top_ul li span {
    bottom: 12px;
    left: 12px;
    position: absolute;
    font-size: 16px;
    line-height: 16px;
}
.devider {
    height: 2px;
    background-color: #CBCBCB;
    margin: 0 auto;
    max-width: 1140px;
    margin-top: 10px;
}

/******* ASIDE ***********/
.well {
    margin-top: 10px;
    margin-left: -20px;
    border-radius: 0;
    border: 0;
    background-color: #F6F6F6;
    box-shadow: none;
    padding: 0;
    
}

.well > div {
    margin-bottom: 10px;
}
.log_in_buton {
    height: 40px;
   
    background-color: #FF9000;
    text-align: center;
    
}
.log_in_buton a {
    height: 40px;
    color: white;
    font-size: 19px;
    display: block;
    padding-top: 5px;
}
.stat_header {
    height: 48px;
    background-color: #2E3539;
    color: #fff;
    font-size: 14px;
    text-align: left;
    padding: 13px 11px;
}
.stat_content {
    
    font-size: 13px;
    padding: 10px;
    color: rgb(150,150,150);
    border: 1px solid #E4E4E4;
    background-color: #fff;
}
.stat_content dl {
    overflow: hidden;
    margin: 0;
    
}
.stat_content dt {
    float: left;
    
}
.stat_content dd {
    float: right;
}

/********** FOOTER *********/
footer {
    height: 120px;
    display: table;
    width: 100%;
}
.footer_left, .footer_right {
    display: table-cell;
    color: white;
    
}
.footer_left {
    background-color: #2E3539;
    width: 74%;
    color: #FFFFFF;
    padding-left: 12px;
}
.footer_left h6 {
    
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 6px;
}
.footer_right {
    background-color: #43A6DF;
    border-left: 12px solid #F6F6F6;
    
}
.social_header {
    overflow: hidden;
    color: white;
}
.social_header ul {
    padding-left: 12px;
}
.social_header h3 {
    padding-left: 12px;
}
.social_header li {
    float: left;
    list-style-type: none;
}
.social_header li a {
    display: block;
    margin-right: 15px;
  
}
.social_header li i {
    font-size: 32px;
     color: white;
}
.company {
    padding-top: 5px;
    text-align: center;
}
